@charset "utf-8";
/* CSS Document */
/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald');
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  vertical-align: top;
}
/* CSS+LESS Document */
.dropshadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.textshadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
/*-----------------------site varible---------------------*/
.red {
  color: #f00;
}
.blue {
  color: #003e57;
}
.mahog {
  color: #CE0043;
}
.pink {
  color: #ea195a;
}
.green {
  color: #360;
}
.lime {
  color: #BCD630;
}
.orange {
  color: #fc0;
}
.teal {
  color: #008080;
}
.yellow {
  color: #ff0;
}
.black {
  color: #000;
}
.border0 {
  border: none;
}
.padding0 {
  padding: 0;
}
.margin0 {
  margin: 0;
}
a:hover {
  text-decoration: none;
}
.mt-100 {
  margin-top: 100px;
}
.mt-95 {
  margin-top: 95px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-85 {
  margin-top: 85px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-75 {
  margin-top: 75px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-65 {
  margin-top: 65px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-55 {
  margin-top: 55px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mr-100 {
  margin-right: 100px;
}
.mr-95 {
  margin-right: 95px;
}
.mr-90 {
  margin-right: 90px;
}
.mr-85 {
  margin-right: 85px;
}
.mr-80 {
  margin-right: 80px;
}
.mr-75 {
  margin-right: 75px;
}
.mr-70 {
  margin-right: 70px;
}
.mr-65 {
  margin-right: 65px;
}
.mr-60 {
  margin-right: 60px;
}
.mr-55 {
  margin-right: 55px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-45 {
  margin-right: 45px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-35 {
  margin-right: 35px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-5 {
  margin-right: 5px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-95 {
  margin-bottom: 95px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-85 {
  margin-bottom: 85px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-75 {
  margin-bottom: 75px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-65 {
  margin-bottom: 65px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-55 {
  margin-bottom: 55px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-100 {
  margin-left: 100px;
}
.ml-95 {
  margin-left: 95px;
}
.ml-90 {
  margin-left: 90px;
}
.ml-85 {
  margin-left: 85px;
}
.ml-80 {
  margin-left: 80px;
}
.ml-75 {
  margin-left: 75px;
}
.ml-70 {
  margin-left: 70px;
}
.ml-65 {
  margin-left: 65px;
}
.ml-60 {
  margin-left: 60px;
}
.ml-55 {
  margin-left: 55px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-45 {
  margin-left: 45px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-35 {
  margin-left: 35px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-5 {
  margin-left: 5px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-95 {
  padding-top: 95px;
}
.pt-90 {
  padding-top: 90px;
}
.pt-85 {
  padding-top: 85px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-75 {
  padding-top: 75px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-65 {
  padding-top: 65px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-55 {
  padding-top: 55px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-45 {
  padding-top: 45px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-5 {
  padding-top: 5px;
}
.pr-100 {
  padding-right: 100px;
}
.pr-95 {
  padding-right: 95px;
}
.pr-90 {
  padding-right: 90px;
}
.pr-85 {
  padding-right: 85px;
}
.pr-80 {
  padding-right: 80px;
}
.pr-75 {
  padding-right: 75px;
}
.pr-70 {
  padding-right: 70px;
}
.pr-65 {
  padding-right: 65px;
}
.pr-60 {
  padding-right: 60px;
}
.pr-55 {
  padding-right: 55px;
}
.pr-50 {
  padding-right: 50px;
}
.pr-45 {
  padding-right: 45px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-35 {
  padding-right: 35px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-25 {
  padding-right: 25px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-5 {
  padding-right: 5px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-95 {
  padding-bottom: 95px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pb-85 {
  padding-bottom: 85px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-75 {
  padding-bottom: 75px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-65 {
  padding-bottom: 65px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-55 {
  padding-bottom: 55px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-45 {
  padding-bottom: 45px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pl-100 {
  padding-left: 100px;
}
.pl-95 {
  padding-left: 95px;
}
.pl-90 {
  padding-left: 90px;
}
.pl-85 {
  padding-left: 85px;
}
.pl-80 {
  padding-left: 80px;
}
.pl-75 {
  padding-left: 75px;
}
.pl-70 {
  padding-left: 70px;
}
.pl-65 {
  padding-left: 65px;
}
.pl-60 {
  padding-left: 60px;
}
.pl-55 {
  padding-left: 55px;
}
.pl-50 {
  padding-left: 50px;
}
.pl-45 {
  padding-left: 45px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-35 {
  padding-left: 35px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-5 {
  padding-left: 5px;
}
.oswald {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
body {
  background-color: #f5f5f5;
}
/*------------------------HEADER-----------------------*/
/*------------------------BODY-----------------------*/
/*------------------------SIDEBAR-----------------------*/
/*------------------------FOOTER-----------------------*/
p {
  margin-top: 10px;
}
.boxfonts {
  font-size: 5em;
  font-weight: bold;
  color: #0cf;
}
.bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6ac4e8+1,d1ffeb+100 */
  background: #6ac4e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6ac4e8 1%, #d1ffeb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6ac4e8 1%, #d1ffeb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6ac4e8 1%, #d1ffeb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac4e8', endColorstr='#d1ffeb', GradientType=0);
  /* IE6-9 */
}
.shadow {
  -moz-box-shadow: inset 0 0 10px #666;
  -webkit-box-shadow: inset 0 0 10px #666;
  box-shadow: inset 0 0 10px #666;
}
.outter {
  width: 560px;
  height: 560px;
  border: 10px solid #3bb3db;
  border-radius: 20px;
  box-shadow: 8px 8px 12px 1px #ccc;
  margin: 25vh auto;
  position: relative;
}
.outter div.center {
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: #fff;
  opacity: 0.3;
  top: 20%;
  left: 20%;
  z-index: 1000;
}
.outter div.inner {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6ac4e8+1,d1ffeb+100 */
  background: #6ac4e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6ac4e8 1%, #d1ffeb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6ac4e8 1%, #d1ffeb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6ac4e8 1%, #d1ffeb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac4e8', endColorstr='#d1ffeb', GradientType=0);
  /* IE6-9 */
  width: 100%;
  height: 100%;
  border: 8px solid #fff;
  padding-left: 28px;
  padding-top: 28px;
  border-radius: 20px;
}
.outter div.inner div {
  position: relative;
  z-index: 1001;
  width: 38%;
  height: 38%;
  background: #fff;
  float: left;
  text-align: center;
  margin: 20px;
  padding: 81px 0;
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 10px #666;
  -webkit-box-shadow: inset 0 0 10px #666;
  box-shadow: inset 0 0 10px #666;
  font-size: 5em;
  font-weight: bold;
  color: #0cf;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=css.bs3.en.css.map */